@import "tailwindcss";

@font-face {
    font-family: "gameboy";
    src: url("/assets/gameboy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "textbox";
    src: url("/assets/Pixellari.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "intro";
    src: url("/assets/zh-cn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
